<nav>
  <div>
    <ul>
      <li>
        <a href="https://themovementcenterllc.com/classes/">classes</a>
        <span>  expand--TODO</span>
        <ul class="sub-menu">
          <li>
            <a href="/tumbling">tumbling</a>
          </li>
          <li>
            <a href="/cheer">cheer</a>
          </li>
          <li>
            <a href="/dance">dance</a>
          </li>
          <li>
            <a href="/acro">acrobatics</a>
          </li>
          <li>
            <a href="/preschool">preschool</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://themovementcetnerllc.com/schedule/">schedule</a>
      </li>
      <li>
        <a href="https://themovementcetnerllc.com/about/">about</a>
      </li>
      <li>
        <a href="https://themovementcetnerllc.com/contact/">contact</a>
      </li>
      <li>
        <a href="#">login</a>
      </li>
    </ul>
  </div>
</nav>
